pypdf
faiss-cpu
google-generativeai
langchain==0.2.6
langchain_community
altair<5
pydantic==2.7.4
pydantic_core==2.18.4
bs4
requests
tabula-py
pycryptodome==3.15.0
gpt4all
langchain-groq
