groq
python-dotenv
langsmith>=0.2.0
langchain-community
langchain-core
lxml
scikit-learn
pandas
pyarrow
langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
gpt4all
bs4
tiktoken
langchain_groq
PyPDF2
sentence-transformers
